
<div class="container">

        <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Departments
                    
            </h1>
            <ol class="breadcrumb">
                <li><a href="dcs.html">Home</a>
                </li>
                <li class="active">Departments</li>
                </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">
            <!-- Sidebar Column -->
        <div class="col-md-2">
            <div class="list-group">
                <a href="events.html" class="list-group-item">Events</a>
                <a href="infrastrucutres.html" class="list-group-item">Infrastructure</a>
                <a href="profiles.html" class="list-group-item">Human Resource</a>
                <a href="projects.html" class="list-group-item">Project</a>
                <a href="correspondences.html" class="list-group-item">Correspondence</a>
                </div>
        </div>
        <!-- Content Column -->


  

        <div class="col-md-9">
            <h2><b>Infrastructure</b></h2>
            <br>
  
            <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="/infrastructures#book">Book</a></li>
            <li><a data-toggle="pill" href="/infrastructures#system_information">System Information</a></li>
            <li><a data-toggle="pill" href="/infrastructures#issued_resource">Issue Resources</a></li>
            </ul>
            <br><br>
            <div class="tab-content">
                <div id="book" class="tab-pane fade in active">
                  <h1><b>Listing Books</b></h1><br>

                <table cellspacing='0'>
                <tr>
                <th>Book Title</th>
                <th>Edition</th>
                <th>Author</th>
                <th>Publication</th>
                <th>ISBN No.</th>
                <th></th>
                <th></th>
                <th></th>
                </tr>

                <div id="product-modal" class="modal hide fade"></div>
                
                <% @books.each do |book| %>
                <tr>
                <td><%= book.title %></td>
                <td><%= book.edition %></td>
                <td><%= book.author %></td>
                <td><%= book.publication %></td>
                <td><%= book.ISBN_number %></td>
                <td><%= link_to 'Show' %></td>
                <td><%= link_to 'Edit', edit_infrastructure_path(book) %></td>
                <td><%= link_to 'Destroy', method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
                
                <% end %>
                </table>
                <br />
                <div id="add_book">
                
<<<<<<< HEAD
                <%= link_to 'New Book', new_infrastructure_path, remote: true %>
                </div>
=======
                <%= link_to 'New Book', new_infrastructure_path, :id => "add_book", remote: true %>
>>>>>>> c07463bb8fc0bd0d0f669dc1b310dce0546ab123
                
                
                <div id="task-form" style="display:none;"></div>

                </div>
                <div id="system_information" class="tab-pane fade">
                  <h1><b>Listing System Information</b></h1><br>

                <table cellspacing='0'>
                <tr>
                <th>System Name</th> 
                <th>Access</th>   
                <th>OS Installed</th>
                <th>RAM</th>
                <th>Type of RAM</th>
                <th>Type of Monitor</th>
                <th>LAN</th>
                <th>HDD Capacity</th>
                <th>Software Details</th>
                <th></th>
                <th></th>
                <th></th>
                </tr>

                <% @system_informations.each do |system_information| %>
                <tr>
                <td><%= system_information.system_name %></td>
                <td><%= system_information.access %></td>
                <td><%= system_information.os_installed %></td>
                <td><%= system_information.ram %></td>
                <td><%= system_information.ram_type %></td>
                <td><%= system_information.monitor_type %></td>
                <td><%= system_information.lan %></td>
                <td><%= system_information.hdd_capacity %></td>
                <td><%= system_information.sw_details %></td>
                
                <% end %>
                </table>
                <br />

                <%= link_to 'New System Information', new_infrastructure_path, id: "add_system_information", remote: true %>
                 </div>
                <div id="issued_resource" class="tab-pane fade">
                  <h1><b>Listing Issue Resources</b></h1><br>

                <table cellspacing='0'>
                <tr>
                <th>Type of Resource</th> 
                <th>Issue Date</th>   
                <th>Issue Time</th>
                <th>Issued by</th>
                <th>Issued to</th>
                <th>Submission Date</th>
                <th>Submission Time</th>
                <th></th>
                <th></th>
                <th></th>
                </tr>

                <% @issued_resources.each do |issued_resource| %>
                <tr>
                <td><%= issued_resource.type_of_resource %></td>
                <td><%= issued_resource.issue_date %></td>
                <td><%= issued_resource.issue_time %></td>
                <td><%= issued_resource.issued_by %></td>
                <td><%= issued_resource.issued_to %></td>
                <td><%= issued_resource.submission_date %></td>
                <td><%= issued_resource.submission_time %></td>
                
                </tr>
                <% end %>
                </table>
                <br />
                 <%= link_to 'New Issue Resource', new_infrastructure_path, id: "add_issue_resource", remote: true %>
                  </div>
                
            </div>
        </div>
    </div>
    <!-- row -->
</div>
<!-- container -->




