<html>  
<head>
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap1.min.css" />
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css" />
</head>    
<body>

<<<<<<< HEAD
<div class="container">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				 <ol class="breadcrumb">
          
				<div class="profile-userpic" align="center">
					<%= image_tag @profile.image.url %>
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						<%= @profile.first_name + " " + @profile.last_name %>
					</div>
					<div class="profile-usertitle-job">
						Developer
					</div>
				</div>
					<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
				<div class="bottom" align="center">
                    <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn btn-danger btn-sm" rel="publisher"
                       href="https://plus.google.com/+ahmshahnuralam">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a class="btn btn-primary btn-sm" rel="publisher"
                       href="https://plus.google.com/shahnuralam">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="btn btn-primary btn-sm" rel="publisher"
                       href="https://plus.google.com/shahnuralam">
                        <i class="fa fa-linkedin-square"></i>

                    </a>
                    
                </div>
				<!-- END SIDEBAR BUTTONS -->
				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="nav">
						<li class="active">
							<a href="#">
							<i class="glyphicon glyphicon-home"></i>
							Overview </a>
						</li>
						<li>
							<a href="#">
							<i class="glyphicon glyphicon-user"></i>
							Account Settings </a>
						</li>
							<li>
							<a href="#" target="_blank">
							<i class="glyphicon glyphicon-ok"></i>
							Tasks </a>
						</li>
						<li>
							<a href="#">
							<i class="glyphicon glyphicon-flag"></i>
							Help </a>
						</li>
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div>
		<div class="col-md-9">
            <div class="profile-content">
			   <ul class="nav nav-tabs">
=======
    <div class="container">
      <h1 class="page-header"><b>Your Profile</b></h1>
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-3">
                
                <ol class="breadcrumb">
          
                  
<p id="notice"><%= notice %></p>


<p><%= image_tag @profile.image.url %></p>
<br />
<h3><%= @profile.first_name + " " + @profile.last_name %></h3>
&nbsp;&nbsp;<img src="/assets/social_icon/googleplus-icon.png">&nbsp;
<img src="/assets/social_icon/icon_facebook_20.png">&nbsp;
<img src="/assets/social_icon/link-in-icon.png">

</div>
<div class="col-lg-9">
  <ul class="nav nav-tabs">
>>>>>>> 2c67cf7d52c14e8f54b0d3f5820b25ebbef0ff12
    <li class="active"><a data-toggle="tab" href="/infrastructures#personal">Personal</a></li>
    <li><a data-toggle="pill" href="/infrastructures#contact">Contact</a></li>
    <li><a data-toggle="pill" href="/infrastructures#social">Social</a></li>
    <li><a data-toggle="pill" href="/infrastructures#actions">Actions</a></li>
  </ul>
  <br><br>
  <div class="tab-content">
    <div id="personal" class="tab-pane fade in active">
<<<<<<< HEAD
      <h2>Personal Information</h2><br />
=======
      <h2>Personal Information</h2>
>>>>>>> 2c67cf7d52c14e8f54b0d3f5820b25ebbef0ff12
      <p>
        <b>Course name :&nbsp;</b>
        <%= @profile.course_name %>
      </p>

      <br>
      <p>
        <b>Sem of joining :&nbsp;</b>
        <%= @profile.sem_of_joining %>
      </p>
      <br>

        <p>
        <b>Date of birth :&nbsp;</b>
        <%= @profile.date_of_birth %>
      </p>
      <br>
      <p>
        <b>Mid name :&nbsp;</b>
        <%= @profile.mid_name %>
      </p>
      <br>
      <p>
        <b>Blood group :&nbsp;</b>
        <%= @profile.blood_group %>
      </p>
      <br>
      <p>
        <b>Father name :&nbsp;</b>
        <%= @profile.father_name %>
      </p>
      <br>
      <p>
        <b>Mother name :&nbsp;</b>
        <%= @profile.mother_name %>
      </p>
      <br>
      <p>
        <b>Guardian name :&nbsp;</b>
        <%= @profile.guardian_name %>
      </p>
      <br>
    </div>
    <div id="contact" class="tab-pane fade in active">


      <h2>Contact Information</h2>
      <p>
        <b>Local address :&nbsp;</b>
        <%= @profile.local_address %>
      </p>
      <br>
      <p>
        <b>Permanent address :&nbsp;</b>
        <%= @profile.permanent_address %>
      </p>
      <br>
      <p>
        <b>Email :&nbsp;</b>
        <%= @profile.email %> 
      </p>
      <br>
    </div>
    <div id="social" class="tab-pane fade in active">

      <h2>Social Information</h2>
      <p>
        <b>Github :&nbsp;</b>
        <%= @profile.github_id %>
      </p>
      <br>

      <p>
        <b>Linkedin :&nbsp;</b>
        <%= @profile.linkedin_id %>
      </p>
      <br>

      <p>
        <b>Facebook :&nbsp;</b>
        <%= @profile.facebook_id %>
      </p>
      <br>

      <p>
        <b>Googleplus :&nbsp;</b>
        <%= @profile.googleplus_id %>
      </p>
      <br>

      <p>
        <b>Twitter :&nbsp;</b>
        <%= @profile.twitter_id %>
      </p>
      <br>

      <p>
        <b>Blog :&nbsp;</b>
        <%= @profile.blog_id %>
      </p>

      <br>
    </div>
    <div id="actions" class="tab-pane fade in active">
      <p><%= link_to 'Edit', edit_profile_path(@profile) %></p>
      <p><%= link_to 'Back', profiles_path %></p>
    </div>
  </div>


</ol>
            </div>
		</div>
		</div>
</div>
<footer>
            
                
                    <p>Copyright &copy;  IIPSDC </p>
                
                
        </footer>
</body>
</html>