<html>
<head>
<title>Issue Resources</title>

<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<script type="text/javascript">
$(document).ready(function(){
$('.navbar .dropdown').hover(function() {
$(this).find('.dropdown-menu').first().stop(true, true).delay(250).slideDown();
}, function() {
$(this).find('.dropdown-menu').first().stop(true, true).delay(100).slideUp()
});
n})
</script>
<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap1.min.css" />
<link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css" />
<!--[if lt IE 9]>
<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link href="assets/styles1.css" rel="stylesheet">
<style>
a:hover
{
background: transparent;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
    height:600px;
  }
</style>
</head>
<body >
<!-- Navigation -->
<div class="container-fluid" >
<div class="row row-offcanvas row-offcanvas-left" >
<div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation" >
<ul class="nav nav-sidebar">
        <li ><a href="/events">Events</a></li>
        <li><a href="/profiles">Human Resource</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/correspondences">Correspondence</a></li>
        <li><a href="/publications">Publications</a></li>
        <li  ><a data-toggle="collapse" style="color:#666;"  href="#accordion-sample-two">
               Infrastructure <b class="caret"></b>
             </a></li>
          
         
       <div id="accordion-sample-two" class="panel-collapse collapse">
         
         <ul class="nav nav-sidebar">
           <li><a href="/books">&nbsp;&nbsp;&nbsp;&nbsp; Books </a></li>
            <li><a href="/system_informations">&nbsp;&nbsp;&nbsp;&nbsp; System Information </a></li>
             <li class="active" ><a href="/issue_resources">&nbsp;&nbsp;&nbsp;&nbsp; Issue Resource </a></li></ul>
         
       </div>
</ul>
</div><!--/span-->
<div class="col-sm-9 col-md-10 main " >
<h1 class="page-header">Listing Issued Resources</h1>
<div class="panel-group" id="accordion" style="background-color:white;">
<div class="row placeholders" >
<div class="col-lg-11" >
<!--toggle sidebar button-->

<!--search-->
  <%= form_tag books_path, :method => 'get' do %>  
      <p>  
        <%= text_field_tag :search, params[:search], :placeholder => 'Enter type of resource' %>  
        <%= submit_tag "Search", :name => nil %>  
      </p>  
    <% end %>    
<table cellspacing='0'>
<tr>
    <th>Type of resource</th>
    <th>Issued by</th>
    <th>Issued to</th>
    <th>Issue date</th>
    <th>Issue time</th>
    <th>Submission date</th>
    <th>Submission time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @issue_resources.each do |issue_resource| %>
  <tr>
    <td><%= issue_resource.type_of_resource %></td>
    <td><%= issue_resource.issued_by %></td>
    <td><%= issue_resource.issued_to %></td>
    <td><%= issue_resource.issue_date %></td>
    <td><%= issue_resource.issue_time %></td>
    <td><%= issue_resource.submission_date %></td>
    <td><%= issue_resource.submission_time %></td>
    <td><%= button_to 'Show', issue_resource,method: :get %></td>
    <td><%= button_to 'Edit', edit_issue_resource_path(issue_resource),method: :get %></td>
    <td><%= button_to 'Destroy', issue_resource, method: :delete, :onclick=> "return confirm('Are you sure you want to delete this item?')"%></td>
  </tr>
<% end %>
</table><br/><br/>
<%= link_to 'New Issue resource', new_issue_resource_path, method: :get, :class => 'btn btn-primary' ,style: "color:white;" %><br/>
<%= paginate @issue_resources %>


</div>
</div>
</div>
</div>
</div>
</div>
</body>
</html>
