<html>  
<head>
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript">
   $(document).ready(function(){
    $('.navbar .dropdown').hover(function() {
        $(this).find('.dropdown-menu').first().stop(true, true).delay(250).slideDown();
    }, function() {
        $(this).find('.dropdown-menu').first().stop(true, true).delay(100).slideUp()
    });
n})
   </script>
    
</head>  
<body>


    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><b>Event Details</b></h1>
                <ol class="breadcrumb">
                  <p id="notice"><%= notice %></p>

                   
            <p><b>Event Details :&nbsp;</b>
              <%= @department.event %></p>

            <br>

              <p><b>Infrastructure Details :&nbsp;</b>
              <%= @department.infrastructure %>
            </p>

            <br>
            <p>
              <b>Profile Details :&nbsp;</b>
              <%= @department.profile %>
            </p>
            <br>
            <p>
              <b>Project Details :&nbsp;</b>
              <%= @department.project %>
            </p>
            <br>

            <p>
              <b>Correspondence Details :&nbsp;</b>
              <%= @department.correspondence %>
            </p>
            <br>

            <p>
              <b>Publication Details :&nbsp;</b>
              <%= @department.publication %>
            </p>
            <br>

            
            <%= link_to 'Edit', edit_event_path(@event) %> |
            <%= link_to 'Back', events_path %>
            </ol>
            </div>
            <br /><br />
        </div>
    </div>
</body>
</html>
              

