
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!--Tabs-->
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap1.min.css" />
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css" />

    


</head>
<body >

  <div class="container">
<div style="box-shadow:10px 10px 40px 30px #F7F7F7 inset;border:solid; border-color:#F5F5F5;border-radius:25px;text-shadow: 2px 2px gray;">
    <div class="form">

        <%= form_for(@event) do |f| %>
         <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  
  
   
    <h1 style="font-family:verdanax ;">Events </h1><hr>

    
    <%= f.text_field :type_of_event, class: 'form-control', :placeholder => "Type of event" %>
  
 
    
    
    <%= f.text_field :organizer_id, class: 'form-control', :placeholder => "Organizer Name" %>
    
      
    <%= f.text_field :topic, class: 'form-control', :placeholder => "Topic"   %>
   
   
    
    <%= f.text_field :venue, class: 'form-control', :placeholder => "Venue"   %>
    
  
    
    
    <%= f.date_select :date, class: 'form-control', :placeholder => "Date"   %><br/><br/>
    
  
   
    <%= f.time_select :time, class: 'form-control', :placeholder => "Time"   %>
    
  
    
    <%= f.text_field :duration, class: 'form-control', :placeholder => "Duration"   %>
  
   
    <%= f.text_field :material_link, class: 'form-control', :placeholder => "Material link"   %>
  
   
    <%= f.text_field :summary_link, class: 'form-control', :placeholder => "Summary link"   %>
  
  
  
  <div class="actions ">
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
  
<% end %>
</div>
    
    </div>
</div>
<!-- Registration form - END -->


</body>
</html>

