<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<script type="text/javascript">
$(document).ready(function(){
$('.navbar .dropdown').hover(function() {
$(this).find('.dropdown-menu').first().stop(true, true).delay(250).slideDown();
}, function() {
$(this).find('.dropdown-menu').first().stop(true, true).delay(100).slideUp()
});
n})
</script>
<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap1.min.css" />
<link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css" />
<!--[if lt IE 9]>
<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link href="assets/styles1.css" rel="stylesheet">
<style>
a:hover
{
background: transparent;
}
</style>
</head>
<body >
<!-- Navigation -->
<div class="container-fluid" >
<div class="row row-offcanvas row-offcanvas-left" >
  
 <div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">
<ul class="nav nav-sidebar">

		<li><a href="/events">Events</a></li>
        <li><a href="/profiles">Human Resource</a></li>
        <li class="active"><a href="/projects">Projects</a></li>
        <li><a href="/correspondences">Correspondence</a></li>
        <li><a href="/publications">Publications</a></li>
        <li ><a data-toggle="collapse" style="color:#666;"  href="#accordion-sample-two">
               Infrastructure <b class="caret"></b>
             </a></li>
          
         
       <div id="accordion-sample-two" class="panel-collapse collapse">
         
         <ul class="nav nav-sidebar">
           <li><a href="/books">&nbsp;&nbsp;&nbsp;&nbsp; Books </a></li>
            <li><a href="/system_informations">&nbsp;&nbsp;&nbsp;&nbsp; System Information </a></li>
             <li><a href="/issue_resources">&nbsp;&nbsp;&nbsp;&nbsp; Issue Resource </a></li></ul>
         
       </div>
</ul>
</div>
<div class="col-sm-9 col-md-10 main " >
<h1 class="page-header">Listing Projects</h1>
<div class="panel-group" id="accordion" style="background-color:white;">
<div class="row placeholders" >
<div class="col-lg-11" >
<!--toggle sidebar button-->
<!--search box -->
<%= form_tag projects_path, :method => 'get' do %>  
      <div style="width:300px;">  
        <%= text_field_tag :search, params[:search], :placeholder => 'Enter project name',class: 'form-control', :style=> 'float:left;width:70%;'%>&nbsp;  
        <%= submit_tag "Search", :name => nil, class: 'btn btn-primary'  %>  
      </div>  
    <% end %><br/><br/> 
<table cellspacing='0'>
<tr>
<th>Project name</th>
<th>Project description</th>
<th>Team</th>
<th>Github page link</th>
<th></th>
<th></th>
<th></th>
</tr>
<% @projects.each do |project| %>
<tr>
  <td><%= project.project_name %></td>
<td><%= project.project_description %></td>
<td><%= project.team_id %></td>
<td><%= project.github_page_link %></td>
<td><%= button_to 'Show', project , method: :get %></td>
<td><%= button_to 'Edit', edit_project_path(project) , method: :get %></td>
<td><%= button_to 'Destroy', project, method: :delete, :onclick=> "return confirm('Are you sure you want to delete this item?')" %></td>
</tr>
<% end %>
</table>
<br />
<%= button_to 'Add Project', new_project_path,method: :get, :class => 'btn btn-primary' %><br/>
<%= paginate @projects %>
</div>
</div>
</div>
</div>
</div>
</div>
</body>
</html>