<html>  
<head>
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript">
   $(document).ready(function(){
    $('.navbar .dropdown').hover(function() {
        $(this).find('.dropdown-menu').first().stop(true, true).delay(250).slideDown();
    }, function() {
        $(this).find('.dropdown-menu').first().stop(true, true).delay(100).slideUp()
    });
n})
   </script>
    
</head>  
<body>


    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><b>System Information Details</b></h1>
                <ol class="breadcrumb">
                  <p id="notice"><%= notice %></p>

                   
           <p>
          <b>System Name :&nbsp;</b>
          <%= @system_information.system_name %>
        </p>
        <br>

        <p>
          <b>Access :&nbsp;</b>
          <%= @system_information.access %>
        </p>
        <br>

        <p>
          <b>OS Installed :&nbsp;</b>
          <%= @system_information.os_installed %>
        </p>
        <br>

        <p>
          <b>RAM :&nbsp;</b>
          <%= @system_information.ram %>
        </p>
        <br>

        <p>
          <b>Type of RAM :&nbsp;</b>
          <%= @system_information.ram_type %>
        </p>
        <br>
        <p>
          <b>Type of Monitor :&nbsp;</b>
          <%= @system_information.monitor_type %>
        </p>
        <br>
        <p>
          <b>LAN :&nbsp;</b>
          <%= @system_information.lan %>
        </p>
        <br>
        <p>
          <b>HDD Capacity :&nbsp;</b>
          <%= @system_information.hdd_capacity %>
        </p>
        <br>
        <p>
          <b>Software Details :&nbsp;</b>
          <%= @system_information.sw_details %>
        </p>
        <br>
        
            <%= link_to 'Edit', edit_system_information_path(@system_information) %> |
            <%= link_to 'Back', system_informations_path %>
            </ol>
            </div>

        </div>
    </div>
    <br /><br />
            <br /><br />
            <br /><br />
            <br /><br />
            <br /><br />
</body>
</html>
              

