<html>
<body>

    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Departments
                    
                </h1>
                <ol class="breadcrumb">
                    <li><a href="dcs.html">Home</a>
                    </li>
                    <li class="active">Departments</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <!-- Sidebar Column -->
            <div class="col-md-2">
                <div class="list-group">
                    <a href="index.html" class="list-group-item">Events</a>
                    <a href="about.html" class="list-group-item">Infrastructure</a>
                    <a href="services.html" class="list-group-item">Human Resource</a>
                    <a href="contact.html" class="list-group-item">Project</a>
                    <a href="correspondences.html" class="list-group-item">Correspondence</a>
                    <a href="portfolio-2-col.html" class="list-group-item">Training</a>
                    <a href="portfolio-3-col.html" class="list-group-item">Software Technical Support</a>
                    <a href="portfolio-4-col.html" class="list-group-item">Hardware and Networking Support</a>
                    <a href="portfolio-item.html" class="list-group-item">Future Enhancements</a>
                    
                </div>
            </div>
            <!-- Content Column -->
            
            
            <div class="col-md-9">
                <h1><b>Listing Correspondences</b></h1><br>

<table cellspacing='0'>
 
  <tr>
    <th>Type of correspondence</th>
    <th>Subject</th>
    <th>User initials</th>
    <th>Medium</th>
    <th>Address</th>
    <th>Description</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @correspondences.each do |correspondence| %>
  <tr>
    <td><%= correspondence.type_of_correspondence %></td>
    <td><%= correspondence.subject %></td>
    <td><%= correspondence.user_initials %></td>
    <td><%= correspondence.medium %></td>
    <td><%= correspondence.address %></td>
    <td><%= correspondence.description %></td>
    <td><%= correspondence.date %></td>
    <td><%= link_to 'Show', correspondence %></td>
    <td><%= link_to 'Edit', edit_correspondence_path(correspondence) %></td>
    <td><%= button_to 'Destroy', co, method: :delete, class: :destroy %></td>
  </tr>
<% end %>
</table>


<br/>

<%= link_to 'New Correspondence', new_correspondence_path %>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    
</body>


</html>

    