<html>
<head>
<title>Correspondence</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<script type="text/javascript">
$(document).ready(function(){
$('.navbar .dropdown').hover(function() {
$(this).find('.dropdown-menu').first().stop(true, true).delay(250).slideDown();
}, function() {
$(this).find('.dropdown-menu').first().stop(true, true).delay(100).slideUp()
});
n})
</script>
<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap1.min.css" />
<link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css" />
<!--[if lt IE 9]>
<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link href="assets/styles1.css" rel="stylesheet">
<style>
a:hover
{
background: transparent;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
    height:600px;
  }
}
</style>
</head>
<body >
<!-- Navigation -->
<div class="container-fluid" >
<div class="row row-offcanvas row-offcanvas-left" >
<div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation" >
<ul class="nav nav-sidebar">

		<li ><a href="/events">Events</a></li>
        <li><a href="/profiles">Human Resource</a></li>
        <li><a href="/projects">Projects</a></li>
        <li class="active" ><a href="/correspondences">Correspondence</a></li>
        <li><a href="/publications">Publications</a></li>
        <li ><a data-toggle="collapse" style="color:#666;"  href="#accordion-sample-two">
               Infrastructure <b class="caret"></b>
             </a></li>
          
         
       <div id="accordion-sample-two" class="panel-collapse collapse">
         
         <ul class="nav nav-sidebar">
           <li><a href="/books">&nbsp;&nbsp;&nbsp;&nbsp; Books </a></li>
            <li><a href="/system_informations">&nbsp;&nbsp;&nbsp;&nbsp; System Information </a></li>
             <li><a href="/issue_resources">&nbsp;&nbsp;&nbsp;&nbsp; Issue Resource </a></li></ul>
         
       </div>

</ul>
</div><!--/span-->
<div class="col-sm-9 col-md-10 main " >
<h1 class="page-header">Listing Correspondences</h1>
<div class="panel-group" id="accordion" style="background-color:white;">
<div class="row placeholders" >
<div class="col-lg-11" >
<!--toggle sidebar button-->

<!--search-->
    <%= form_tag correspondences_path, :method => 'get' do %>  
      <div style="width:300px;">    
        <%= text_field_tag :search, params[:search], :placeholder => 'Enter correspondence',class: 'form-control', :style=> 'float:left;width:70%;'%>  
       &nbsp; 
        <%= submit_tag "Search", :name => nil, class: 'btn btn-primary' %>  
      </div>  
    <% end %>  <br/><br/>
<table cellspacing='0'>
<tr>
<th>Type of correspondence</th>
<th>Subject</th>
<th>User initials</th>
<th>Medium</th>
<th>Address</th>
<th>Description</th>
<th>Date</th>
<th></th>
<th></th>
<th></th>
</tr>
<% @correspondences.each do |correspondence| %>
<tr>
<td><%= correspondence.type_of_correspondence %></td>
<td><%= correspondence.subject %></td>
<td><%= correspondence.user_initials %></td>
<td><%= correspondence.medium %></td>
<td><%= correspondence.address %></td>
<td><%= correspondence.description %></td>
<td><%= correspondence.date %></td>
<td><%= button_to 'Show', correspondence ,method: :get%></td>
<td><%= button_to 'Edit', edit_correspondence_path(correspondence) ,method: :get %>
<p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-sm" data-title="Edit" data-toggle="modal" data-target="edit_correspondence_path(correspondence)" ><span class="glyphicon glyphicon-pencil"></span></button></p>
   </td>
<td><%= button_to 'Destroy', correspondence, method: :delete, :onclick=> "return confirm('Are you sure you want to delete this item?')" %></td>
</tr>
<% end %>
</table><br/><br/>
<%= button_to 'Add Correspondence', new_correspondence_path, method: :get, :class => 'btn btn-primary' %><br/>
<%= paginate @correspondences %>
</div>
</div>
</div>
</div>
</div>
</div>
</body>
</html>