<html>
<head>
<title>Correspondence</title>
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript">
   $(document).ready(function(){
    $('.navbar .dropdown').hover(function() {
        $(this).find('.dropdown-menu').first().stop(true, true).delay(250).slideDown();
    }, function() {
        $(this).find('.dropdown-menu').first().stop(true, true).delay(100).slideUp()
    });
n})
   </script>
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap1.min.css" />
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css" />
</head>      
<body>


    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><b>Correspondence Details</b></h1>
                <ol class="breadcrumb">
                  
<br>

<p>
  <b>Type of correspondence :&nbsp;</b>
  <%= @correspondence.type_of_correspondence %>
</p>

<br>
<p>
  <b>Subject :&nbsp;</b>
  <%= @correspondence.subject %>
</p>
<br>

<p>
  <b>User initials :&nbsp;</b>
  <%= @correspondence.user_initials %>
</p>
<br>

<p>
  <b>Medium :&nbsp;</b>
  <%= @correspondence.medium %>
</p>
<br>

<p>
  <b>Address :&nbsp;</b>
  <%= @correspondence.address %>
</p>
<br>

<p>
  <b>Description :&nbsp;</b>
  <%= simple_format(@correspondence.description) %>
</p>
<br>

<p>
  <b>Date :&nbsp;</b>
  <%= @correspondence.date %>
</p>
<br>


<%= link_to 'Edit', edit_correspondence_path(@correspondence) %> |
<%= link_to 'Back', correspondences_path %>
</ol>
            </div>
            
        </div>
    </div>
</body>
</html>
              