<html>    
<body>


    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><b>Achievement Details</b></h1>
                <ol class="breadcrumb">
<p id="notice"><%= notice %></p><br>

<p>
  <b>Dc member :&nbsp;</b>
  <%= @achievement.dc_member_id %>
</p><br>

<p>
  <b>Achievement :&nbsp;</b>
  <%= @achievement.achievement %>
</p><br>


<%= link_to 'Edit', edit_achievement_path(@achievement) %> |
<%= link_to 'Back', achievements_path %>
</ol>
            </div>
            
        </div>
    </div>
</body>
</html>
         
