<html>
<body>
    
<!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Departments
                    
                </h1>
                <ol class="breadcrumb">
                    <li><a href="dcs.html">Home</a>
                    </li>
                    <li class="active">Departments</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <!-- Sidebar Column -->
            <div class="col-md-2">
                <div class="list-group">
                    <a href="index.html" class="list-group-item">Events</a>
                    <a href="about.html" class="list-group-item">Infrastructure</a>
                    <a href="services.html" class="list-group-item">Human Resource</a>
                    <a href="contact.html" class="list-group-item">Project</a>
                    <a href="correspondences.html" class="list-group-item">Correspondence</a>
                    <a href="portfolio-2-col.html" class="list-group-item">Training</a>
                    <a href="portfolio-3-col.html" class="list-group-item">Software Technical Support</a>
                    <a href="portfolio-4-col.html" class="list-group-item">Hardware and Networking Support</a>
                    <a href="portfolio-item.html" class="list-group-item">Future Enhancements</a>
                    
                </div>
            </div>
            <!-- Content Column -->


             <div class="col-md-9">


<h1><b>Listing Entrances</b></h1>

<table cellspacing='0'>
  <tr>
    <th>Date of joining</th>
    <th>First name</th>
    <th>Middle name</th>
    <th>Last name</th>
    <th>Date of birth</th>
    <th>Gender</th>
    <th>Blood group</th>
    <th>Area of interest</th>
    <th>Basic skills</th>
    <th>Current address</th>
    <th>Permanent address</th>
    <th>Country code</th>
    <th>Std code</th>
    <th>Mobile no</th>
    <th>Student email</th>
    <th>Github</th>
    <th>Fathers name</th>
    <th>Fathers contact</th>
    <th>Fathers email</th>
    <th>Guardian name</th>
    <th>Guardian contact</th>
    <th>School name</th>
    <th>Percentage 10th</th>
    <th>Percentage 12th</th>
    <th>Course</th>
    <th>Semester</th>
    <th>Cgpa</th>
    <th>Online courses</th>
    <th>Project name</th>
    <th>Project type</th>
    <th>Project duration</th>
    <th>Project description</th>
    <th>Reference category</th>
    <th>Reference</th>
    <th>Why choose</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @entrances.each do |entrance| %>
  <tr>
    <td><%= entrance.date_of_joining %></td>
    <td><%= entrance.first_name %></td>
    <td><%= entrance.middle_name %></td>
    <td><%= entrance.last_name %></td>
    <td><%= entrance.date_of_birth %></td>
    <td><%= entrance.gender %></td>
    <td><%= entrance.blood_group %></td>
    <td><%= entrance.area_of_interest %></td>
    <td><%= entrance.basic_skills %></td>
    <td><%= entrance.current_address %></td>
    <td><%= entrance.permanent_address %></td>
    <td><%= entrance.country_code %></td>
    <td><%= entrance.std_code %></td>
    <td><%= entrance.mobile_no %></td>
    <td><%= entrance.student_email %></td>
    <td><%= entrance.github_id %></td>
    <td><%= entrance.fathers_name %></td>
    <td><%= entrance.fathers_contact %></td>
    <td><%= entrance.fathers_email %></td>
    <td><%= entrance.guardian_name %></td>
    <td><%= entrance.guardian_contact %></td>
    <td><%= entrance.school_name %></td>
    <td><%= entrance.percentage_10th %></td>
    <td><%= entrance.percentage_12th %></td>
    <td><%= entrance.course %></td>
    <td><%= entrance.semester %></td>
    <td><%= entrance.cgpa %></td>
    <td><%= entrance.online_courses %></td>
    <td><%= entrance.project_name %></td>
    <td><%= entrance.project_type %></td>
    <td><%= entrance.project_duration %></td>
    <td><%= entrance.project_description %></td>
    <td><%= entrance.reference_category %></td>
    <td><%= entrance.reference %></td>
    <td><%= entrance.why_choose %></td>
    <td><%= link_to 'Show', entrance %></td>
    <td><%= link_to 'Edit', edit_entrance_path(entrance) %></td>
    <td><%= link_to 'Destroy', entrance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Entrance', new_entrance_path %>
<br />

               
            </div>
        </div>
    </div>
</body>
</html>

