<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />



<style type="text/css">

/*
This was made by João Sardinha
Visit me at http://johnsardine.com/

The table style doesnt contain images, it contains gradients for browsers who support them as well as round corners and drop shadows.

It has been tested in all major browsers.

This table style is based on Simple Little Table By Orman Clark,
you can download a PSD version of this at his website, PremiumPixels.
http://www.premiumpixels.com/simple-little-table-psd/

PLEASE CONTINUE READING AS THIS CONTAINS IMPORTANT NOTES

*/

/*
Im reseting this style for optimal view using Eric Meyer's CSS Reset - http://meyerweb.com/eric/tools/css/reset/
------------------------------------------------------------------ */
body, html  { height: 100%; }
html, body, div, span, applet, object, iframe,
/*h1, h2, h3, h4, h5, h6,*/ p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
:focus { outline: 0; }
del { text-decoration: line-through; }
table {border-spacing: 0; } /* IMPORTANT, I REMOVED border-collapse: collapse; FROM THIS LINE IN ORDER TO MAKE THE OUTER BORDER RADIUS WORK */

/*------------------------------------------------------------------ */

/*This is not important*/
body{
    font-family:Arial, Helvetica, sans-serif;
    background: url(background.jpg);
    margin:0 auto;
    
}
a:link {
    color: #666;
    font-weight: bold;
    text-decoration:none;
}
a:visited {
    color: #666;
    font-weight:bold;
    text-decoration:none;
}
a:active,
a:hover {
    color: #bd5a35;
    text-decoration:underline;
}


/*
Table Style - This is what you want
------------------------------------------------------------------ */
table a:link {
    color: #666;
    font-weight: bold;
    text-decoration:none;
}
table a:visited {
    color: #999999;
    font-weight:bold;
    text-decoration:none;
}
table a:active,
table a:hover {
    color: #bd5a35;
    text-decoration:underline;
}
table {
    
    font-family:Arial, Helvetica, sans-serif;
    color:#666;
    font-size:12px;
    text-shadow: 1px 1px 0px #fff;
    background:#eaebec;
    margin:0px;
    border:#ccc 1px solid;

    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;

    -moz-box-shadow: 0 1px 2px #d1d1d1;
    -webkit-box-shadow: 0 1px 2px #d1d1d1;
    box-shadow: 0 1px 2px #d1d1d1;
}
table th {
    padding:21px 13px 22px 13px;
    border-top:1px solid #fafafa;
    border-bottom:1px solid #e0e0e0;

    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
    background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table th:first-child{
    text-align: left;
    padding-left:20px;
}
table tr:first-child th:first-child{
    -moz-border-radius-topleft:3px;
    -webkit-border-top-left-radius:3px;
    border-top-left-radius:3px;
}
table tr:first-child th:last-child{
    -moz-border-radius-topright:3px;
    -webkit-border-top-right-radius:3px;
    border-top-right-radius:3px;
}
table tr{
    text-align: center;
    padding-left:20px;
}
table tr td:first-child{
    text-align: left;
    padding-left:20px;
    border-left: 0;
}
table tr td {
    padding:10px;
    border-top: 1px solid #ffffff;
    border-bottom:1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    
    background: #fafafa;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
    background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table tr.even td{
    background: #f6f6f6;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
    background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td{
    border-bottom:0;
}
table tr:last-child td:first-child{
    -moz-border-radius-bottomleft:3px;
    -webkit-border-bottom-left-radius:3px;
    border-bottom-left-radius:3px;
}
table tr:last-child td:last-child{
    -moz-border-radius-bottomright:3px;
    -webkit-border-bottom-right-radius:3px;
    border-bottom-right-radius:3px;
}
table tr:hover td{
    background: #f2f2f2;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
    background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);  
}

</style>
</head>

<body>
    
<!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Departments
                    
                </h1>
                <ol class="breadcrumb">
                    <li><a href="dcs.html">Home</a>
                    </li>
                    <li class="active">Departments</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <!-- Sidebar Column -->
            <div class="col-md-2">
                <div class="list-group">
                    <a href="index.html" class="list-group-item">Events</a>
                    <a href="about.html" class="list-group-item">Infrastructure</a>
                    <a href="services.html" class="list-group-item">Human Resource</a>
                    <a href="contact.html" class="list-group-item">Project</a>
                    <a href="correspondences.html" class="list-group-item">Correspondence</a>
                    <a href="portfolio-2-col.html" class="list-group-item">Training</a>
                    <a href="portfolio-3-col.html" class="list-group-item">Software Technical Support</a>
                    <a href="portfolio-4-col.html" class="list-group-item">Hardware and Networking Support</a>
                    <a href="portfolio-item.html" class="list-group-item">Future Enhancements</a>
                    
                </div>
            </div>
            <!-- Content Column -->


             <div class="col-md-9">


<h1><b>Listing Entrances</b></h1>

<table cellspacing='0'>
  <tr>
    <th>Date of joining</th>
    <th>First name</th>
    <th>Middle name</th>
    <th>Last name</th>
    <th>Date of birth</th>
    <th>Gender</th>
    <th>Blood group</th>
    <th>Area of interest</th>
    <th>Basic skills</th>
    <th>Current address</th>
    <th>Permanent address</th>
    <th>Country code</th>
    <th>Std code</th>
    <th>Mobile no</th>
    <th>Student email</th>
    <th>Github</th>
    <th>Fathers name</th>
    <th>Fathers contact</th>
    <th>Fathers email</th>
    <th>Guardian name</th>
    <th>Guardian contact</th>
    <th>School name</th>
    <th>Percentage 10th</th>
    <th>Percentage 12th</th>
    <th>Course</th>
    <th>Semester</th>
    <th>Cgpa</th>
    <th>Online courses</th>
    <th>Project name</th>
    <th>Project type</th>
    <th>Project duration</th>
    <th>Project description</th>
    <th>Reference category</th>
    <th>Reference</th>
    <th>Why choose</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @entrances.each do |entrance| %>
  <tr>
    <td><%= entrance.date_of_joining %></td>
    <td><%= entrance.first_name %></td>
    <td><%= entrance.middle_name %></td>
    <td><%= entrance.last_name %></td>
    <td><%= entrance.date_of_birth %></td>
    <td><%= entrance.gender %></td>
    <td><%= entrance.blood_group %></td>
    <td><%= entrance.area_of_interest %></td>
    <td><%= entrance.basic_skills %></td>
    <td><%= entrance.current_address %></td>
    <td><%= entrance.permanent_address %></td>
    <td><%= entrance.country_code %></td>
    <td><%= entrance.std_code %></td>
    <td><%= entrance.mobile_no %></td>
    <td><%= entrance.student_email %></td>
    <td><%= entrance.github_id %></td>
    <td><%= entrance.fathers_name %></td>
    <td><%= entrance.fathers_contact %></td>
    <td><%= entrance.fathers_email %></td>
    <td><%= entrance.guardian_name %></td>
    <td><%= entrance.guardian_contact %></td>
    <td><%= entrance.school_name %></td>
    <td><%= entrance.percentage_10th %></td>
    <td><%= entrance.percentage_12th %></td>
    <td><%= entrance.course %></td>
    <td><%= entrance.semester %></td>
    <td><%= entrance.cgpa %></td>
    <td><%= entrance.online_courses %></td>
    <td><%= entrance.project_name %></td>
    <td><%= entrance.project_type %></td>
    <td><%= entrance.project_duration %></td>
    <td><%= entrance.project_description %></td>
    <td><%= entrance.reference_category %></td>
    <td><%= entrance.reference %></td>
    <td><%= entrance.why_choose %></td>
    <td><%= link_to 'Show', entrance %></td>
    <td><%= link_to 'Edit', edit_entrance_path(entrance) %></td>
    <td><%= link_to 'Destroy', entrance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Entrance', new_entrance_path %>
<br />

               
            </div>
        </div>
    </div>
</body>
</html>

