<html>    
<body>


    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><b>Entrance Details</b></h1>
                <ol class="breadcrumb">

<p id="notice"><%= notice %></p>
<br>

<p>
  <b>Date of joining :&nbsp;</b>
  <%= @entrance.date_of_joining %>
</p>
<br>

<p>
  <b>First name :&nbsp;</b>
  <%= @entrance.first_name %>
</p>
<br>

<p>
  <b>Middle name :&nbsp;</b>
  <%= @entrance.middle_name %>
</p>
<br>

<p>
  <b>Last name :&nbsp;</b>
  <%= @entrance.last_name %>
</p>
<br>

<p>
  <b>Date of birth :&nbsp;</b>
  <%= @entrance.date_of_birth %>
</p>
<br>

<p>
  <b>Gender :&nbsp;</b>
  <%= @entrance.gender %>
</p>
<br>

<p>
  <b>Blood group :&nbsp;</b>
  <%= @entrance.blood_group %>
</p>
<br>

<p>
  <b>Area of interest :&nbsp;</b>
  <%= @entrance.area_of_interest %>
</p>
<br>

<p>
  <b>Basic skills :&nbsp;</b>
  <%= @entrance.basic_skills %>
</p>
<br>

<p>
  <b>Current address :&nbsp;</b>
  <%= @entrance.current_address %>
</p>
<br>

<p>
  <b>Permanent address :&nbsp;</b>
  <%= @entrance.permanent_address %>
</p>
<br>

<p>
  <b>Country code :&nbsp;</b>
  <%= @entrance.country_code %>
</p>
<br>

<p>
  <b>Std code :&nbsp;</b>
  <%= @entrance.std_code %>
</p>
<br>

<p>
  <b>Mobile no :&nbsp;</b>
  <%= @entrance.mobile_no %>
</p>
<br>

<p>
  <b>Student email :&nbsp;</b>
  <%= @entrance.student_email %>
</p>
<br>

<p>
  <b>Github :&nbsp;</b>
  <%= @entrance.github_id %>
</p>
<br>

<p>
  <b>Fathers name :&nbsp;</b>
  <%= @entrance.fathers_name %>
</p>
<br>

<p>
  <b>Fathers contact :&nbsp;</b>
  <%= @entrance.fathers_contact %>
</p>
<br>

<p>
  <b>Fathers email :&nbsp;</b>
  <%= @entrance.fathers_email %>
</p>
<br>

<p>
  <b>Guardian name :&nbsp;</b>
  <%= @entrance.guardian_name %>
</p>
<br>

<p>
  <b>Guardian contact :&nbsp;</b>
  <%= @entrance.guardian_contact %>
</p>
<br>

<p>
  <b>School name :&nbsp;</b>
  <%= @entrance.school_name %>
</p>
<br>

<p>
  <b>Percentage 10th :&nbsp;</b>
  <%= @entrance.percentage_10th %>
</p>
<br>

<p>
  <b>Percentage 12th :&nbsp;</b>
  <%= @entrance.percentage_12th %>
</p>
<br>

<p>
  <b>Course :&nbsp;</b>
  <%= @entrance.course %>
</p>
<br>

<p>
  <b>Semester :&nbsp;</b>
  <%= @entrance.semester %>
</p>
<br>

<p>
  <b>Cgpa :&nbsp;</b>
  <%= @entrance.cgpa %>
</p>
<br>

<p>
  <b>Online courses :&nbsp;</b>
  <%= @entrance.online_courses %>
</p>
<br>

<p>
  <b>Project name :&nbsp;</b>
  <%= @entrance.project_name %>
</p>
<br>

<p>
  <b>Project type :&nbsp;</b>
  <%= @entrance.project_type %>
</p>
<br>

<p>
  <b>Project duration :&nbsp;</b>
  <%= @entrance.project_duration %>
</p>
<br>

<p>
  <b>Project description :&nbsp;</b>
  <%= @entrance.project_description %>
</p>
<br>

<p>
  <b>Reference category :&nbsp;</b>
  <%= @entrance.reference_category %>
</p>
<br>

<p>
  <b>Reference :&nbsp;</b>
  <%= @entrance.reference %>
</p>
<br>

<p>
  <b>Why choose :&nbsp;</b>
  <%= @entrance.why_choose %>
</p>
<br>


<%= link_to 'Edit', edit_entrance_path(@entrance) %> |
<%= link_to 'Back', entrances_path %>
 </ol>
            </div>
            
        </div>
    </div>
</body>
</html>